<!--Homepage-->
<!DOCTYPE html>
<html>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--importing w3 schools template-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<!--importing our homepage css file-->
<link rel="stylesheet" href="homestyle.css">
<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>

 
  <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-analytics.js"></script>

 <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-firestore.js"></script>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
   
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">Video Call App</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center"><a class=" btn" href="/room" >Create a New Room</a></p>
  </div>
</div>

<script src="firebase.js" ></script>
</body>

</html>